<h1>Restaurants!</h1>

<p>Where are you?</p>

<form action="/street_to_restaurants">
  <div>
    <label for="the_address">Street Address</label>
    <input type="text" name="user_street_address" id="the_address">
  </div>

  <button>Show me some restaurants!</button>
</form>
